<footer class="py-5 " >
    <div id="footer">
        <div class="container" >
            <div class="row">
    
    
                <div class="col-md-4 ">
                    <h5 class="text-uppercase">Horarios</h5>
                   <p>Lunes a domingo 07:00 - 18:00</p>
                </div>
    
                <div class="col-md-4">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <div class="container">
                        <a href="https://www.instagram.com/sumire.detalles?igsh=MXRjd3l6M292bWI3aQ=="><i
                            class="bi bi-instagram"></i></a>
                    </div>
    
                </div>
                
                <div class="col-md-4 ">
                    <h5 class="text-uppercase">Contacto</h5>
                    <ul class="list-unstyled">
                        <li>Dirección: Cali, Colombia</li>
                        <li>Teléfono: +123456789</li>
                        <li>Email:</li>
                    </ul>
                </div>
    
            </div>
        </div>

    </div>
    
</footer>