<div id="mimenu">
    <div id="datosusuario">
        <img src="assets/IA-Sumire.jpeg">
        <div class="lblnombre">Sumire Detalles</div>
        <div class="lblrol">Super Administrador</div>
    </div>

    <div class="opciones">
        <div class="itemmenu" routerLink="/dashboard">Dashborad</div>
        <div class="itemmenu" routerLink="/usuarios">Usuarios</div>
        <div class="itemmenu" routerLink="/alfajores">Alfajores</div>
        <div class="itemmenu" routerLink="/brownies">Brownies</div>
        <div class="itemmenu" routerLink="/fresas">Fresas</div>
        <div class="itemmenu" routerLink="/tortas">Tortas</div>
        <div class="itemmenu" routerLink="/login">Salir</div>
    </div>

</div>
<div id="superior"></div>