<app-header></app-header>
<app-carrusel></app-carrusel>

<div class="container mt-5 py-2">
    <div class="text-center">
        <h2>Detalles para</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
            <div class="card border flex-fill">
                <img src="/assets/Brownies/Browni-0.jpeg" class="card-img-top rounded-circle custom-img" alt="Brownie">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Compartir</h5>
                    <p class="card-text flex-grow-1">Nuestros postres son ideales para compartir con amigos y
                        familiares. Disfruta de momentos dulces con cada bocado.</p>
                    <div class="text-center mt-auto"><a href="#" class="btn btn-primary btn-lg">Comprar</a></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
            <div class="card border flex-fill">
                <img src="/assets/Alfajores/Alfajor-4.jpeg" class="card-img-top rounded-circle custom-img"
                    alt="Alfajor">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Eventos</h5>
                    <p class="card-text flex-grow-1">Nuestros postres son perfectos para cualquier tipo de evento, ya
                        sea una fiesta, una reunión de negocios o una celebración especial.</p>
                    <div class="text-center mt-auto"><a href="#" class="btn btn-primary btn-lg">Comprar</a></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
            <div class="card border flex-fill">
                <img src="/assets/Alfajores/Alfajor-7.jpeg" class="card-img-top rounded-circle custom-img"
                    alt="Especial">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Ocasiones especiales</h5>
                    <p class="card-text flex-grow-1">Celebra esas ocasiones especiales con nuestros deliciosos postres,
                        hechos para hacer de cada momento algo memorable.</p>
                    <div class="text-center mt-auto"><a href="#" class="btn btn-primary btn-lg">Comprar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 align-self-center">
            <h2 class="featurette-heading fw-normal lh-1 text-center">Historia</h2>
            <p class="lead">En un rincón acogedor de Cali, Sumire emergió como un tesoro de la repostería artesanal,
                donde cada creación era un homenaje a la dulzura y la calidad. Esta empresa casera, impulsada por la
                pasión de endulzar momentos especiales, se especializaba en la elaboración de tortas, alfajores,
                brownies y fresas con chocolate, siempre utilizando los ingredientes más frescos y de alta calidad. A
                través de las redes sociales, Sumire facilitaba a sus clientes la realización de pedidos desde cualquier
                lugar de la ciudad, garantizando no solo productos exquisitos, sino también un servicio al cliente
                excepcional. Con cada entrega, aseguraban que la experiencia fuera dulce, satisfactoria y memorable.

            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="assets/IA-Sumire.jpeg" class="featurette-image img-fluid mx-auto" alt="Placeholder image">
        </div>
    </div>
</div>


<app-footer></app-footer>