<div id="mizonaprivada">
    <div id="datosusuario">
        <img src="assets/IA-Sumire.jpeg">
        <div class="lblnombre">{{nombre}}</div>
        <div class="lblrol">
            <div *ngIf="rol == '1'">Administrador</div>
            <div *ngIf="rol == '2'">Cliente</div>
        </div>
    </div>

    <div class="opciones">
        <div class="itemmenu" routerLink="/dashboard">Dashborad</div>
        <div class="itemmenu" routerLink="/miusuarios">Mis datos</div>
        <div *ngIf="rol == '1'" class="itemmenu" routerLink="/usuarios">Usuarios</div>
        <div *ngIf="rol == '1'" class="itemmenu" routerLink="/productos">Productos</div>
        <div *ngIf="rol == '1'" class="itemmenu" routerLink="/categorias">Categorias</div>
        <div *ngIf="rol == '1'" class="itemmenu" routerLink="/servicios">Servicios</div>
        <div class="itemmenu" (click)="CerrarSession()">Salir</div>
    </div>

</div>
<div id="superior"></div>

