<app-header></app-header>

<h1>Activar la Cuenta</h1>

<div id="activar">

    <div class="form-group">
      <label for="nombre">Email</label>
      <input type="text" class="form-control" [(ngModel)]="Email">
    </div>

    <div class="form-group">

        <label for="email">Codigo de Activacion</label>
        <input type="email" class="form-control" [(ngModel)]="Codigo">
      </div>

    <button type="submit" class="btn btn-primary" (click)="Activar()">Activar la Cuenta</button>
  
</div>


<app-footer></app-footer>
