<app-menu></app-menu>


<div class="ventana">
    <div class="titulo">Alfajores</div>
    <div class="btnadd" (click)="AbrirModal()">+</div>

    <div class="datos">

        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of datos" (click)="EditarId(item._id)">
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>
                    <div *ngIf="item.estado == 1">Activo</div>
                    <div *ngIf="item.estado == 0">Inactivo</div>
                </td>
              </tr>
             
            </tbody>
          </table>


    </div>


</div>


  
  <!-- Modal -->
  <div class="modal fade" id="Modalnuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alfajores</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="codigo">Codigo Producto</label>
                <input type="email" class="form-control" id="codigo" [(ngModel)]="codigo" [disabled]="Idseleccionado != ''">
              </div>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="nombre">Nombre Producto</label>
                <input type="email" class="form-control" id="nombre" [(ngModel)]="nombre">
              </div>
        </div>

        <div class="modal-body">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" [(ngModel)]="estado">
              <option value="0">Inactivo</option>
              <option value="1">Activo</option>
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="Guardar()" *ngIf="Idseleccionado == ''">Guardar</button>
          <button type="button" class="btn btn-primary" (click)="Actualizar()" *ngIf="Idseleccionado != ''">Actualizar</button>
          <button type="button" class="btn btn-danger" (click)="Eliminar()" *ngIf="Idseleccionado != ''">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
