<app-header></app-header>

<h1 class="tituloproductos">ALFAJORES</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of datos">
            <div class="itemproducto" style="width: 16rem;" >
                <img src="{{item.imagen}}" class="card-img-top" >
                <div class="card-body">
                  <h5 class="nombreprodcuto">{{item.nombre}}</h5>
                  <p class="preciproducto">{{item.precio | currency}}</p>
                  <a href="https://wa.me/+573106982856?text= Estoy interesad@ en este producto  {{item.nombre}}" class="btn btn-primary">Pedir</a>
                  <div class="btn btn-primary" (click)="AbrirModal()">Info</div>
                </div>
              </div>
        </div>
    </div>
</div>








  <div class="modal fade" id="Modalnuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let item of datos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

            <div class="modal-dialog modal-dialog-centered">
                ...
              </div>
        </div>
<div class="card-body">
    <a href="https://wa.me/+573106982856?text= Estoy interesad@ en este producto  {{item.nombre}}" class="btn btn-primary">Pedir</a>
</div>
        
      </div>
    </div>
  </div>

<app-footer></app-footer>
