<app-header></app-header>
<!-- <p>{{this.rutaActiva}}</p> -->
<h1 class="text-center fst-italic"> Nuestros productos </h1>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3" >
                <div class="itemproducto">
                    <div class="miproducto">
                        <img src="/assets/default.png" >
                    </div>
                    <div class="clsnombreproducto"> Nombre Producto </div>
                    <div class="clsprecio">2000</div>
                    <a href="https://wa.me/+573167184658?text= Hola, estoy interesad@ en este producto" style="color:black">
                        <div class="btn"> Añadir </div>
                    </a>
                    
                </div>
            </div>
        </ng-container >
        
    </div>
</div>
<app-footer></app-footer>