<app-header></app-header>
<app-carrusel></app-carrusel>
<div class="container pt-5">


    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="text-center fst-italic">Detalles para toda ocasión</h1>
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold text-center">Nosotros</h2>
            <p class="col-md-12 fs-4">Somos una empresa casera apasionada por endulzar tus momentos especiales con
                deliciosas creaciones artesanales. En Sumire, nos especializamos en la
                elaboración de tortas, alfajores, brownies y fresas con chocolate, utilizando siempre ingredientes
                frescos y de la más alta calidad.
            </p>

        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary rounded-3">
                <h2>Misión</h2>
                <p>En nuestra repostería casera, endulzamos la vida de nuestros clientes con productos únicos y
                    deliciosos, elaborados artesanalmente con amor. Nos especializamos en tortas, alfajores, brownies y
                    fresas con chocolate, utilizando ingredientes frescos y de la más alta calidad. A través de nuestras
                    redes sociales, facilitamos la realización de pedidos desde cualquier lugar en Cali. Garantizamos
                    altos estándares de calidad y un servicio al cliente excepcional, asegurando que cada experiencia
                    con nosotros sea dulce, satisfactoria y memorable.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary rounded-3">
                <h2>Visión</h2>
                <p>Convertirnos en la opción más querida y reconocida en Cali para quienes buscan deleitarse con los
                    sabores más exquisitos de la repostería casera, liderando en la creación de momentos dulces y
                    memorables con nuestras delicias artesanales.
                </p>

            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>