<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"><img id="logo" src="assets/Logo Sumire.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/nosotros">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Menú
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/">Tortas</a>
                    <a class="dropdown-item" routerLink="/">Alfajores</a>
                    <a class="dropdown-item" routerLink="/">Brownies</a>
                    <a class="dropdown-item" routerLink="/">Fresas</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Inicia sesión</a>
            </li>
           
            <li>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </li>
        </ul>
    </div>
</nav>