/* You can add global styles to this file, and also import other style files */
table.table.table-hover {}

.ventana {
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 200px);
    border: solid 1px #E2C9F2;
    height: calc(100% - 39px);
}

.btnadd {
    background: darkcyan;
    width: 50px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 700;
    margin: 5px;
    right: 0px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
}

.titulo {
    background: aliceblue;
}

body{
    background: #f7f8fc;

}

h1.tituloproductos {
    text-align: center;
    background: #E8CDF0;
    margin: 32px;
    border-radius: 20px;
    margin-bottom: 10px;
}